/* ::::: http://localhost/textpattern-4.5.5/textpattern/theme/hive/css/textpattern.css ::::: */

/* ::::: http://localhost/textpattern-4.5.5/textpattern/theme/hive/css/reset.css ::::: */

html { font-size: 100%; font-family: Arial,Helvetica,sans-serif; }
body { margin: 0px; font-size: 0.8125em; line-height: 1.38462; }
a:focus { outline: thin dotted rgb(0, 102, 255); }
a:hover, a:active { outline: 0px none; }
p, pre { margin: 1em 0px; }
b, strong { font-weight: bold; }
dl, ol, ul { margin: 1em 0px; }
dl dl, ul ul, ol ol { margin: 0px; }
ol, ul { padding: 0px 0px 0px 2em; }
svg:not(:root) { overflow: hidden; }
table { border-collapse: collapse; border-spacing: 0px; }
th, td { vertical-align: top; text-align: left; padding: 0px; }
form { margin: 0px; }
legend { border: 0px none; padding: 0px; white-space: normal; }
button, input[type="reset"], input[type="submit"], input[type="button"], .txp-logout a, .action-create a, .navlink, .navlink-active, .txp-buttons a { border-radius: 0.38462em; background-clip: padding-box; box-sizing: border-box; cursor: pointer; color: rgb(51, 51, 51); font-family: Arial,Helvetica,sans-serif; font-size: 0.923077em; line-height: 1.33333; text-decoration: none; margin: 0px; padding: 0.25em 0.75em; box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); width: auto; height: 2em; border-width: 1px; border-style: solid; border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(162, 162, 162); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(238, 238, 238); background-image: linear-gradient(rgb(238, 238, 238), rgb(187, 187, 187)); display: inline-block; }
button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, .txp-logout a:hover, .action-create a:hover, .navlink:hover, .navlink-active:hover, .txp-buttons a:hover { color: rgb(51, 51, 51); text-decoration: none; background-color: rgb(248, 248, 248); background-image: linear-gradient(rgb(248, 248, 248), rgb(197, 197, 197)); }
button:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active, .txp-logout a:active, .action-create a:active, .navlink:active, .navlink-active:active, .txp-buttons a:active { background-color: rgb(197, 197, 197); background-image: linear-gradient(rgb(197, 197, 197), rgb(248, 248, 248)); }
input[type="reset"], input[type="submit"], input[type="button"] { height: 2em; }
textarea, select, input[type="password"], input[type="text"] { border-radius: 0px; background-clip: padding-box; box-sizing: border-box; font-family: Arial,Helvetica,sans-serif; font-size: 1em; line-height: 1.46154; color: rgb(51, 51, 51); background-color: white; margin: 0px; border: 1px solid rgb(204, 204, 204); padding: 0.153846em 0.384615em; height: 1.84615em; max-width: 100%; }
.boxshadow button:focus, .boxshadow input[type="button"]:focus, .boxshadow input[type="password"]:focus, .boxshadow input[type="reset"]:focus, .boxshadow input[type="submit"]:focus, .boxshadow input[type="text"]:focus, .boxshadow select:focus, .boxshadow textarea:focus, .boxshadow .txp-logout a:focus, .boxshadow .action-create a:focus, .boxshadow .navlink:focus, .boxshadow .navlink-active:focus, .boxshadow .txp-buttons a:focus { outline: 0px none; box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 7px rgb(0, 102, 255); z-index: 1; }
input[type="file"]:focus, input[type="file"]:active, input[type="radio"]:focus, input[type="radio"]:active, input[type="checkbox"]:focus, input[type="checkbox"]:active { box-shadow: none; }
textarea { min-height: 4.38462em; resize: vertical; width: 100%; overflow: auto; vertical-align: top; }
textarea, select[size], select[multiple] { height: auto; }
optgroup { font-family: Arial,Helvetica,sans-serif; font-style: normal; font-weight: normal; color: rgb(51, 51, 51); }
optgroup::-moz-focus-inner { border: 0px none; padding: 0px; }
@media not all {
	select, select[size="0"], select[size="1"] { background: url('select_arrow.svg') no-repeat scroll right center / 1em 0.307692em white; padding-right: 2em; }
}
input[type="checkbox"], input[type="radio"] { padding: 0px; box-sizing: border-box; }
input:invalid, button:invalid, select:invalid, textarea:invalid { box-shadow: none; }
input::-moz-focus-inner, button::-moz-focus-inner, select::-moz-focus-inner, textarea::-moz-focus-inner { border: 0px none; padding: 0px; }
.clearfix, .progress-meter ol, .txp-footer, .txp-edit p, .txp-login p, .txp-navigation, .txp-setup p, .plugin-column p {  }
.clearfix:before, .progress-meter ol:before, .txp-footer:before, .txp-edit p:before, .txp-login p:before, .txp-navigation:before, .txp-setup p:before, .plugin-column p:before, .clearfix:after, .progress-meter ol:after, .txp-footer:after, .txp-edit p:after, .txp-login p:after, .txp-navigation:after, .txp-setup p:after, .plugin-column p:after { content: ""; display: table; }
.clearfix:after, .progress-meter ol:after, .txp-footer:after, .txp-edit p:after, .txp-login p:after, .txp-navigation:after, .txp-setup p:after, .plugin-column p:after { clear: both; }
a { color: rgb(17, 78, 177); text-decoration: none; }
a:hover { color: rgb(0, 102, 255); text-decoration: underline; }
h1 { font-size: 2em; line-height: 1.23077; margin: 0px 0px 0.5em; }
h3 { font-size: 1.15385em; margin: 0px 0px 0.866667em; }
small, .txp-footer { font-size: 0.84615em; }
.pophelp, .pophelpsubtle { border: 1px solid rgb(255, 255, 255); padding: 0px 0.230769em; font-weight: normal; background: none repeat scroll 0% 0% rgb(229, 229, 229); border-radius: 0.53846em; }
#messagepane { position: fixed; bottom: 0px; z-index: 20000; text-align: center; }
h3.lever, .summary-details > h3 { position: relative; font-size: 1em; font-weight: bold; line-height: 2em; margin: 0px; padding: 0px 2em 0px 1em; height: 2em; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset; border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(190, 190, 190); background-color: rgb(238, 238, 238); background-image: linear-gradient(rgb(238, 238, 238), rgb(221, 221, 221)); }
h3.lever a { display: block; color: rgb(51, 51, 51); }
h3.lever a:hover { color: rgb(51, 51, 51); text-decoration: none; }
h3.lever a:after { position: absolute; content: "&#8594;"; top: 0.692308em; right: 0.769231em; z-index: 10; width: 0px; height: 0px; display: inline-block; vertical-align: top; opacity: 0.5; border-left: 0.30769em solid rgb(51, 51, 51); border-right: 0px none; border-width: 0.307692em 0px 0.307692em 0.30769em; border-style: solid none solid solid; border-color: transparent -moz-use-text-color transparent rgb(51, 51, 51); text-indent: 110%; white-space: nowrap; overflow: hidden; }
h3.lever a:hover:after { opacity: 1; }
h3.lever.expanded a:after { content: "&#8595;"; top: 0.846154em; right: 0.692308em; border-left: 0.307692em solid transparent; border-right: 0.307692em solid transparent; border-width: 0.30769em 0.307692em 0px; border-style: solid solid none; border-color: rgb(51, 51, 51) transparent -moz-use-text-color; }
.toggle, .summary-details > div { padding: 0px 1em; }
fieldset { position: relative; margin: 0px 0px 1em; border-right: 1px solid rgb(227, 227, 227); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(227, 227, 227) rgb(227, 227, 227); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 2.07692em 0px 0px; background: none repeat scroll 0% 0% rgb(247, 247, 247); }
fieldset > * { margin-right: 1em; margin-left: 1em; }
.toggle fieldset { margin-top: 1em; }
legend { position: absolute; top: 0px; margin: 0px; padding: 0px 1em; width: 100%; font-weight: bold; line-height: 2em; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset; border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(190, 190, 190); background-color: rgb(238, 238, 238); background-image: linear-gradient(rgb(238, 238, 238), rgb(221, 221, 221)); box-sizing: border-box; }
input[type="radio"], input[type="checkbox"] { margin-right: 0.5em; }
input.year, input.exp_year { width: 3.30769em; }
input.month, input.exp_month, input.day, input.exp_day, input.hour, input.exp_hour, input.minute, input.exp_minute, input.second, input.exp_second { width: 2.30769em; }
input[size="32"] { width: 100%; max-width: 23.2308em; }
input.publish[type="submit"], button.publish, a.publish { font-weight: bold; border-width: 1px; border-style: solid; border-color: rgb(242, 171, 5) rgb(242, 171, 5) rgb(192, 136, 4); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0.75em; height: 3em; background-color: rgb(255, 218, 68); background-image: linear-gradient(rgb(255, 218, 68), rgb(242, 171, 5)); }
input.publish[type="submit"]:hover, button.publish:hover, a.publish:hover { background-color: rgb(255, 228, 119); background-image: linear-gradient(rgb(255, 228, 119), rgb(251, 190, 47)); }
input.publish[type="submit"]:active, button.publish:active, a.publish:active { background-color: rgb(251, 190, 47); background-image: linear-gradient(rgb(251, 190, 47), rgb(255, 228, 119)); }
.nav-tertiary > :first-child, .prev-next > :first-child { border-top-left-radius: 0.38462em; border-bottom-left-radius: 0.38462em; }
.nav-tertiary > :last-child, .prev-next > :last-child { border-top-right-radius: 0.38462em; border-bottom-right-radius: 0.38462em; }
.plain-list { list-style: none outside none; padding-left: 0px; }
.txp-list tbody tr:nth-child(2n) { background: none repeat scroll 0% 0% rgb(247, 247, 247); }
body { position: relative; padding: 5em 2em 0px; min-width: 71.3846em; color: rgb(51, 51, 51); background: none repeat scroll 0% 0% white; }
.txp-body { max-width: 110em; margin: 0px auto; }
.txp-header { position: fixed; top: 0px; left: 0px; right: 0px; z-index: 10000; padding: 0px 2em; height: 3em; min-width: 71.3846em; box-shadow: 0px 0.15385em 0.23077em rgba(0, 0, 0, 0.15); border-top: 1px solid rgb(250, 188, 43); border-bottom: 1px solid rgb(226, 160, 5); background-color: rgb(255, 218, 68); background-image: linear-gradient(rgb(255, 218, 68), rgb(250, 188, 43)); }
.txp-header h1 { float: left; margin: 0px; padding-left: 9.84615em; font-size: 1em; line-height: 3em; background: url('textpattern-lrg.png') no-repeat scroll 0px 46% transparent; max-width: 25%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.svg .txp-header h1 { background-image: url('textpattern-lrg.svg'); background-size: 9.84615em 2em; }
.txp-header h1 a { margin-right: 1em; margin-left: 1em; color: rgb(51, 51, 51); }
.txp-header h1 a:hover { color: rgb(77, 77, 77); text-decoration: none; }
.txp-logout { position: absolute; z-index: 10010; top: -0.5em; right: 2em; }
.txp-nav-select { display: none; }
.txp-nav { float: left; }
.txp-nav a { color: rgb(51, 51, 51); }
.txp-nav a:hover { text-decoration: none; }
.txp-nav ul { list-style: none outside none; padding-left: 0px; }
.data-dropdown { display: block; float: left; margin: 0px; }
.dropdown { position: relative; display: block; float: left; border-right: 1px solid rgb(250, 188, 43); background: none repeat scroll 0% 0% rgb(252, 220, 127); }
.rgba .dropdown { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2); }
.dropdown:first-child { border-left: 1px solid rgb(250, 188, 43); }
.dropdown a.dropdown-toggle { display: block; padding: 0px 1em; line-height: 3em; text-decoration: none; color: black; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); }
.dropdown:hover a.dropdown-toggle { background: none repeat scroll 0% 0% rgb(252, 220, 127); }
.rgba .dropdown:hover a.dropdown-toggle { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2); }
.dropdown.active a.dropdown-toggle { background: none repeat scroll 0% 0% rgb(252, 220, 127); }
.rgba .dropdown.active a.dropdown-toggle { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2); }
.dropdown-menu { position: absolute; top: 3em; left: -9999px; z-index: 20000; min-width: 12em; border-right: 1px solid rgb(212, 212, 212); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(212, 212, 212) rgb(212, 212, 212); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(255, 246, 211); border-radius: 0px 0.38462em 0.38462em; box-shadow: 0px 0px 0.46154em rgba(0, 0, 0, 0.2); }
.dropdown-menu li { border: 0px none; border-radius: 0px; background: none repeat scroll 0% 0% transparent; margin-right: 0px; }
.dropdown-menu li:first-child { border-radius: 0px 0.38462em 0px 0px; }
.dropdown-menu li:last-child { border-radius: 0px 0px 0.38462em 0.38462em; }
.dropdown-menu li:hover { background: none repeat scroll 0% 0% rgb(254, 239, 176); }
.dropdown-menu li.active { background: none repeat scroll 0% 0% rgb(254, 229, 128); }
.dropdown-menu a { display: block; padding: 0.5em 1em; }
.dropdown-menu:before { position: absolute; content: ""; top: -0.61538em; left: 1em; width: 1.23077em; height: 0.615385em; background-image: url('indicator.gif'); }
.svg .dropdown-menu:before { background-image: url('indicator.svg'); background-size: 1.23077em 0.61538em; }
.data-dropdown li:hover .dropdown-menu, .data-dropdown li:focus .dropdown-menu { left: 0px; }
.txp-nav-select { margin-top: 0.615385em; }
.mothership { float: left; }
.pagejump { float: right; }
.txp-columntable { width: 100%; }
@media not all, only screen and (min-resolution: 144dpi) {
}
#article-col-1, #article-col-2 { width: 24%; }
#article-tabs { width: 2em; padding-left: 1em; }
#view_modes ul { list-style: none outside none; margin: 0px; padding: 0px; }
#view_modes .text { background-image: url('view-text.png'); }
.svg #view_modes .text { background-image: url('view-text.svg'); background-size: 1.5em 1.5em; }
#view_modes .html { background-image: url('view-html.png'); }
.svg #view_modes .html { background-image: url('view-html.svg'); background-size: 1.5em 1.5em; }
#view_modes .preview { background-image: url('view-preview.png'); }
.svg #view_modes .preview { background-image: url('view-preview.svg'); background-size: 1.5em 1.5em; }
.view-mode { font-size: 16px; margin-bottom: 0.8125em; width: 1.5em; height: 1.5em; text-indent: 110%; white-space: nowrap; overflow: hidden; border-radius: 0.38462em; background-color: rgb(238, 238, 238); background-repeat: no-repeat; background-position: 50% 50%; }
.view-mode a { display: block; width: 1.5em; height: 1.5em; }
.view-mode:hover { background-color: rgb(255, 246, 211); }
#tab-textup, #tab-htmlup, #tab-previewup { background-color: rgb(255, 246, 211); }
#article-main #title { width: 75%; }
#article-main #body { height: 34.4615em; }
#main_content > div:first-of-type > p:first-of-type { margin-top: 0px; }
#configuration_content, #tagbuild_links { margin-right: 1em; }
#configuration_content > div, #tagbuild_links > div, .summary-details { border-right: 1px solid rgb(227, 227, 227); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(227, 227, 227) rgb(227, 227, 227); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(247, 247, 247); margin-bottom: 1em; }
#supporting_content, #content_switcher { margin-left: 1em; }
#supporting_content > div, #content_switcher > div { margin-bottom: 1em; }
#supporting_content > div { border-right: 1px solid rgb(227, 227, 227); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(227, 227, 227) rgb(227, 227, 227); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(247, 247, 247); }
#dates .date .label, #dates .time .label { display: block; }
#dates .date input.year, #dates .time input.hour, #dates .date input.exp_year, #dates .time input.exp_hour { margin-left: -0.61538em; }
.recent { list-style: decimal-leading-zero outside none; }
.recent li { margin-left: 2em; }
#keywords { height: 4.38462em; }
@media only screen and (max-width: 768px) {
	body { padding: 4em 1em 0px; min-width: 294px; }
	.txp-header { padding: 0px 1em; min-width: 294px; }
	.txp-header h1 { max-width: 50%; padding-left: 2em; background-image: url('textpattern-sml.png'); }
	.svg .txp-header h1 { background-image: url('textpattern-sml.svg'); background-size: 2em 2em; }
	.txp-logout { right: 1em; }
	.txp-nav-select { display: inherit; }
	.txp-nav { display: none; }
	#page-article .txp-columntable th, #page-article .txp-columntable td, #page-article .txp-columntable tr { display: block; }
	#article-col-1, #article-col-2, #article-main, #article-tabs { width: 100%; margin: 0px auto; max-width: 42em; }
	#article-col-2 { clear: left; }
	#article-tabs { padding: 0px 0px 1em; height: 1.84615em; }
	.view-mode { float: left; margin-right: 0.8125em; margin-bottom: 0px; }
	#configuration_content, #tagbuild_links, #supporting_content { margin: 0px; }
	#textile_group, #recent_group { display: none; }
}
@media only screen and (max-width: 545px) {
	body { padding-top: 7.23077em; }
	.txp-header { position: absolute; }
	.txp-header h1 { max-width: 66%; }
	.txp-nav-select { position: absolute; top: 2.46154em; right: 0px; left: 0px; z-index: 10010; border-top: 1px solid rgb(255, 251, 237); padding: 0.538462em 1em; background: none repeat scroll 0% 0% rgb(255, 246, 211); box-shadow: 0px 0.15385em 0.23077em rgba(0, 0, 0, 0.15); }
	#article-main #body { height: 17.4615em; }
	#excerpt { height: 4.38462em; }
}
